<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- Title -->
    <h1><%= title %></h1>

    <!-- Each category -->
    <% categories.forEach(cat => { %>
      <p><%= cat.category %></p>
    <% }) %>

    <!-- Add button -->
    <a href="/categories/new">
      <button>Add new product</button>
    </a>
  </body>
</html>
