<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Header</title>
  </head>
  <body>
    <header>
      <!-- Title -->
      <a href="/"><h1>SNEAKERS.COM</h1></a>

      <!-- Search Bar -->
      <search>
        <input class="search-bar" type="text" placeholder="Search..." />
      </search>

      <!-- Navigation -->
      <nav>
        <ul class="navigation">
          <a href="/"><li>Home</li></a>
          <a href="/products"><li>Products</li></a>
          <a href="/categories"><li>Categories</li></a>
        </ul>
      </nav>
    </header>
  </body>
</html>
