<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- Header -->
    <%- include('header') %>

    <!-- Main -->
    <section class="home">
      <!-- Text Left -->
      <div class="home-text">
        <h1>STEP INTO THE GAME</h1>
        <p>
          Every pair tells a story. Find yours from the freshest drops, iconic
          classics, and limited editions — all in one place.
        </p>
        <div class="home-buttons">
          <a href="/products">
            <button class="products-btn">View snickers</button>
          </a>
          <a href="/categories">
            <button class="categories-btn">View categories</button>
          </a>
        </div>
      </div>
      <!-- Image Right -->
      <img
        src="/images/banner-image2.png"
        alt="Home banner image"
        class="banner-image"
      />
    </section>

    <!-- Footer -->
    <%- include('footer') %>
  </body>
</html>
