<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- Title -->
    <h1><%= title %></h1>

    <!-- Each product -->
    <% products.forEach(product => { %>
      <p><%= product.name %></p>
    <% }) %>
    
    <!-- Add button -->
    <a href="/create">
      <button>Add new product</button>
    </a>
  </body>
</html>
