<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Sidebar -->
    <aside class="sidebar">
      <!-- Price -->
      <form action="">
        <p><strong>Sort by price:</strong></p>
        <input type="radio" id="ascending" checked />
        <label for="ascending">Ascending</label>
        <br>
        <input type="radio" id="descending" />
        <label for="descending">Descending</label>
      </form>
    </aside>
  </body>
</html>
