/* Product page */
.product-title-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.item-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 213, 213);
  border-radius: 20px;
  padding: 30px;
}
