/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* General */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 50px 5%;
}

h1,
h2,
h3,
h4,
p,
li,
a {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

/* Home Layout */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 3rem 5%;
  min-height: calc(100vh - (91px + 52px));
}

.home-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
}

.home-text h1 {
  font-size: 2.5rem;
  margin: 0;
}

.home-text p {
  margin: 0;
}

.home-text a + a {
  margin-left: 0.75rem;
}

.banner-image {
  flex: 1;
  max-width: 50%;
  height: auto;
  object-fit: contain;
}

/* Responsive */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
  }

  .banner-image {
    max-width: 100%;
  }
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid rgb(207, 207, 207);
}

/* Search Bar */
search {
  padding: 0 20px;
}

/* Navigation Tabs */
.navigation {
  display: flex;
  gap: 30px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-top: 1px solid rgb(207, 207, 207);
}

/* Sidebar */
.sidebar {
  background-color: rgb(225, 225, 225);
  padding: 30px;
  width: 100%;
  /* border: 1px solid rgb(175, 175, 175); */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  box-sizing: border-box;
  overflow: hidden;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.filter-section input {
  word-wrap: break-word;
}

.filter-section button {
  margin-top: 10px;
  padding: 6px 20px;
  font-weight: 500;
}

.filter-label {
  padding-bottom: 10px;
}

.price-sort {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

/* Products */
.items {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: auto;
}

.item-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  gap: 20px;
  padding: 30px;
  border: 1px solid rgb(207, 207, 207);
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  padding: 30px;
  height: 300px;
  width: 200px;
  transition: 0.2s;
}

.item-card:hover {
  background-color: rgb(225, 225, 225);
  transform: translateY(-5px);
}

.title-group {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.product-image {
  height: 200px;
  width: auto;
}

/* Categories */
.category-card {
  background-color: rgb(235, 235, 235);
  padding: 30px;
  border-radius: 20px;
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-card:hover {
  background-color: rgb(225, 225, 225);
  cursor: pointer;
}

.category-grid {
  display: flex;
  gap: 20px;
}
